%h-styles {
	color: rgba(250, 250, 250, 1);
	font-family: 'Noto Sans', sans-serif;
	text-shadow: 2px 1px 15px #333;
}

html {
	height: 100%;
}

body {
	color: #FFF;
	font-family: 'PT Sans', sans-serif;
	height: 100%;
}

.page-wrap {
	background: url(../img/background.jpg);
	background-size: cover;
	min-height: 100%;
}

.container {
	max-width: 1000px;
}

.header {
	background-color: rgba(250, 250, 250, 0.1);
	padding: 15px 0 15px 80px;
	width: 100%;
	
	.logo-modul {
		margin: 0 auto;
	}
	
	.h1-home {
		display: inline-block;
		margin: 0;
		padding: 5px 0;
	}
}

h1 {
	@extend %h-styles;
	font-size: 50px;
}

h2 {
	@extend %h-styles;
	font-size: 40px;
	margin-bottom: 30px;
}

.company {
	background-color: rgba(250, 250, 250, 0.2);
	display: flex;
	flex-direction: column;
	min-height: 100%;

	a, a:visited {
		color: rgba(250, 250, 250, 0.9);
	}

	a:visited {
		text-decoration: none;
	}

	a:hover {
		color: rgba(250, 250, 250, 0.4);
		text-decoration: none;
	}

	&-block {
		background-color: rgba (255, 255, 255, 0.5);
		flex: 1 0 auto;
		padding: 0 30px;
	}

	&-item {
		border-bottom: 2px solid #AAA;
		padding: 30px 30px 20px;
		p {
			text-shadow: 1px 1px 5px #4b4545;
		}
	}
	
	&-item:last-child {
		border: none;
		margin-bottom: 15px;
	}

	&-logo {
		background-color: #fff;
		border: 2px solid #ADACAB;
		box-shadow: 0 0 4px 1px #464747;
		max-width: 250px;
		padding: 20px;
	}

	&-logo:hover {
		opacity: 0.9;
	}

	&-content {
		font-size: 16px;
		line-height: 25px;
	}
}

.contacts {
	background-color: rgba(250, 250, 250, 0.1);
	flex: none;
	margin: 20px auto 0;
	text-align: center;
	padding: 10px 0 0;
	width: 100%;

	&-list span {
		display: inline-block;
		font-size: 20px;
		text-shadow: 1px 1px 5px #4b4545;
		margin-right: 35px;
	}
	
	&-list span:last-child {
		margin: 0;
	}

	.footer-about {

		div {
			display: inline-block;
			padding: 0 10px 0 0;
			vertical-align: middle;
		}
		
		.logo-footer {
			max-width: 150px;
		}
	}
	
	.backlink {
		a {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
	
	.header {
		padding: 10px 0 10px 30px;
	}
	
	.contacts-list span {
		font-size: 18px;
	}
}
	
@media screen and (max-width: 767px) {

	.header {
		padding: 10px 0;

		.logo-modul {
			display: block;
		}
		
		.img-modul {
			margin: 0 auto;
		}

		.h1-home {
			display: block;
			text-align: center;
		}
	}

	h1 {
		font-size: 33px;
	}

	h2 {
		font-size: 27px;
		text-align: center;
	}

	.company-logo {
		margin: 0 auto 20px;
	}

	.company-item {
		padding: 0;
	}
	
	.contacts-list {
		text-align: center;
		
		span {
			display: block;
			font-size: 18px;
			margin: 0;
			padding: 5px 0;
		}
	}
	
	.footer-about {
		padding-bottom: 10px;
	}
}